[submodule "includes/cxxopts"]
	path = includes/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "includes/json"]
	path = includes/json
	url = https://github.com/nlohmann/json
[submodule "includes/spdlog"]
	path = includes/spdlog
	url = https://github.com/gabime/spdlog
[submodule "includes/HDiffPatch"]
	path = includes/HDiffPatch
	url = https://github.com/sisong/HDiffPatchLite
[submodule "includes/11Zip"]
	path = includes/11Zip
	url = https://github.com/Sygmei/11Zip
